{% extends 'base.html' %}

{% block head %}
<title>EP Catcher</title>
{% endblock %}

{% block body %}
<div class="'content">
    <h1 style="text-align: center">EP Catcher</h1>
    <label class="events" for="events" id="for_events">Choose an event:</label>
    <select class="events" name="events" id="events">
      <option value="race">Race</option>
    </select>
    <table>
        <tr>
            <th>Name</th>
            <th width="7">Stake</th>
            <th>Back Odds</th>
            <th>Place Terms</th>
            <th>Place Odds</th>
            <th>Win Lay Odds</th>
            <th>Place Lay Odds</th>
            <th>Implied Odds</th>
            <th>QL</th>
            <th>EP Profit</th>
        </tr>
        {% for horse in horses %}
            <tr>
                <td>{{ horse.horse_name }}</td>
                <td><input type="number" value="10" size="5" id="stake"></td>
                <td>{{ horse.best_odds }}</td>
                <td>1/5</td>
                <td>{{ (horse.best_odds-1)/5 + 1 }}</td>
                <td></td>
                <td></td>
                <td>{{ horse.best_odds * 2 }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}